html {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    }
    h1 {
    font-size: 1.8rem;
    color: white;
    }
h2 {
    font-size: 1.8rem;
    color: #9147ff;
    }
    .marquesina {
    overflow: hidden;
    background-color: #9147ff;
    }
    body {
    margin: 0;
    }
    .contenido {
    padding: 50px;
    }
    .cuadricula-tarjeta {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .tarjeta {
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
    }
    titulo-tarjeta {
    font-size: 1.2rem;
    font-weight: bold;
    color: #9147ff
    }
    .lectura {
    font-size: 1.2rem;
    color: #9147ff;
    }